<!DOCTYPE html>
{% load static %}
{% load custom_template_tags %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
        {% endblock %}

        <meta name="author" content="Shashank Shekhar" />
        <meta name="author" content="https://www.stackshekhu.tech/" />
        <meta name="description" content="PSCSocial official website." />
        <meta name="theme-color" content="#4E0BD4" />
        <meta property="og:title" content="PSCSocial" />
        <meta property="og:url" content="https://psc-social.herokuapp.com/" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://psc-social.herokuapp.com{% static 'assets/img/og-logo.png' %}" />
        <meta property="og:description" content="PSCSocial official website." />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="PSCSocial" />
        <meta name="twitter:description" content="PSCSocial official website." />
        <meta name="twitter:url" content="https://psc-social.herokuapp.com/" />
        <meta name="twitter:image" content="https://psc-social.herokuapp.com{% static 'assets/img/og-logo.png' %}" />

        <!-- Bootstrap CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Semantic UI -->
        <!-- <link rel="stylesheet" type="text/css" href="assets/css/semantic.css" /> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/b6268b25c7.js" crossorigin="anonymous"></script>
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{% static 'assets/img/logo.png' %}">
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />

        {% block css %}
        {% endblock %}
    </head>
    <body class="bg-gradient bg-light">

        <header>
            <nav class="navbar navbar-expand-lg fixed-top navbar navbar-dark bg-none py-4">
                <div class="container">
                    <a class="navbar-brand fw-bold" href="./index.html">
                        <img src="{% static 'assets/img/logo.png' %}" alt="" class="d-inline-block img-fluid">
                        PSCSocial
                    </a>
                    <button class="navbar-toggler" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                        <div class="navbar-nav fw-bold">
                                {% setvar '' as active %}
                                {% if request.endpoint == '' or request.endpoint == 'home' or request.endpoint|length == 0 %}
                                {% setvar 'active' as active %}
                                {% endif %}
                            <a class="nav-link {{ active }}" href="/">Home</a>
                                {% setvar '' as active %}
                                {% if request.endpoint == 'blogs' %}
                                {% setvar 'active' as active %}
                                {% endif %}
                            <a class="nav-link {{ active }}" href="/blogs">Blogs</a>
                            <a class="nav-link" href="#contact">Contact Us</a>
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </div>
                    </div>
                </div>
              </nav>
        </header>

        <div class="ui sidebar inverted vertical menu">
            {% setvar '' as active %}
            {% if request.endpoint == '' or request.endpoint == 'home' or request.endpoint|length == 0 %}
            {% setvar 'active' as active %}
            {% endif %}
            <a class="item {{ active }}" href="/">
                Home
            </a>
            <a class="item" href="#contact">
                Contact
            </a>
        </div>
        {% block body %}
        {% endblock %}

        <!-- Footer -->
        <footer class="footer">
            <div class="row">
                <div class="col-sm-6 col-md-4 footer-navigation">
                    <h3><a href="#">PSC<span>Social</span></a></h3>
                    <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">FAQ</a><strong> · </strong><a href="#">Contact</a></p>
                    <p class="company-name">PSCSocial © 2021</p>
                </div>
                <div class="col-sm-6 col-md-4 footer-contacts">
                    <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                        <p><span class="new-line-span">21 Revolution Street</span>NY, USA</p>
                    </div>
                    <div><i class="fa fa-phone footer-contacts-icon"></i>
                        <p class="footer-center-info email text-left"><a href="#" target="_blank" class="text-decoration-none">+91 9876543201</a></p>
                    </div>
                    <div><i class="fa fa-envelope footer-contacts-icon"></i>
                        <p> <a href="#" target="_blank" class="text-decoration-none">support@pscsocial.com</a></p>
                    </div>
                </div>
                <!-- <div class="clearfix"></div> -->
                <div class="col-sm-6 col-md-4 footer-about">
                    <h2>About PSCSocial</h2>
                    <p>PSCSocial is one of the leading website for bootstrap snippets.</p>
                    <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                </div>
            </div>
        </footer>
        <!-- Footer -->

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <!-- Semantic UI -->
        <script type="text/javaScript" src="{% static 'assets/js/semantic.js' %}"></script>

        <!-- Custom JS -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.18.0/core.min.js" integrity="sha512-XpSfIIupzvkhza/hT76X11BXXysUeg/bTeTB/Obn+8U2x3Ul12Kb071BBL3zUV8JL7G7YOooKVhjJeolBcUtOQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javaScript" src="{% static 'assets/js/main.js' %}"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>