{% extends "base.html" %}
{% load static %}
        {% block title %}
        <title>PSC Social</title>
        {% endblock %}

        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.validate.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'assets/css/contact-section.css' %}">
            <style>
                .card {
                    border-radius: 25px;
                    box-shadow: 0 0 20px 5px #8080808f;
                }
            </style>
        {% endblock %}

        {% block body %}
        <main>
            <!-- Hero -->
            <div class="" id="hero-section" style="position: relative;">
                <div class="d-flex justify-content-center align-items-center text-white text-center px-5 hero-text">
                    <h1 class="fw-bold">Welcome to PSC Social</h1>
                </div>
            </div>
            <!-- Hero -->
        </main>

            <!-- About -->
            <section id="about-us" class="bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 px-4">
                            <img src="{% static 'assets/img/illus.png' %}" class="img-fluid">
                        </div>
                        <div class="col-sm-8 px-5">
                            <div class="d-flex align-items-center h-100">
                                <div class="d-block">
                                    <div><span class="sub-heading text-muted h4 border-3 border-bottom border-primary text-captalize">About Us</span></div>
                                    <h1 class="display-5 fw-bolder">About <span class="" style="color: rgba(90, 103, 216, 1);">PSCSocial</span></h1><br/>
                                    <p class="h5 text-dark fw-normal">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eorum enim est haec querela, qui sibi cari sunt seseque diligunt. Virtutis enim beataeque vitae, quae duo maxime expetenda sunt, serius lumen apparet, multo etiam serius, ut plane qualia sint intellegantur. Et quis a Stoicis et quem ad modum diceretur, tamen ego quoque exponam, ut perspiciamus, si potuerimus, quidnam a Zenone novi sit allatum.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About -->

        <!-- Contact -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Contact Us</h2>
                        <h3 class="section-subheading text-muted">We would love to hear from you</h3>
                    </div>
                </div>
                <div class="container d-flex justify-content-center">
                    <div class="form">
                        <div class="contact-info">
                            <h3 class="title">Let's get in touch</h3>
                            <p class="text"> Contact us with the following details. and fillup the form with the details. </p>
                            <div class="info">
                                <div class="social-information"> <i class="fa fa-map-marker"></i>
                                    <p>NPM,NY,USA</p>
                                </div>
                                <div class="social-information"> <i class="fa fa-envelope-o"></i>
                                    <p>contact@bbbootstrap.com</p>
                                </div>
                                <div class="social-information"> <i class="fa fa-mobile-phone"></i>
                                    <p>+1 989 989 9898 </p>
                                </div>
                            </div>
                            <div class="social-media">
                                <p>Connect with us :</p>
                                <div class="social-icons"> <a href="#"> <i class="fa fa-facebook-f"></i> </a> <a href="#"> <i class="fa fa-twitter"></i> </a> <a href="#"> <i class="fa fa-instagram"></i> </a> <a href="#"> <i class="fa fa-linkedin"></i> </a> </div>
                            </div>
                        </div>
                        <div class="contact-info-form">
                            <form action="{% url 'addEnquiry' %}" id="contact-form">
                                {% csrf_token %}
                                <h3 class="title">Contact us</h3>
                                <div class="social-input-containers"> <input type="text" name="name" class="input" placeholder="Name" /> </div>
                                <div class="social-input-containers"> <input type="email" name="email" class="input" placeholder="Email" /> </div>
                                <div class="social-input-containers"> <input type="tel" name="phone" class="input" placeholder="Phone" /> </div>
                                <div class="social-input-containers textarea"> <textarea name="message" class="input" placeholder="Message"></textarea> </div>
                                <button type="submit" class="btn">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact -->
        {% endblock %}

        {% block js %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script type="text/javascript" src="{% static 'assets/js/contact.js' %}"></script>
        {% endblock %}