{% extends "base.html" %}
{% load static %}
        {% block title %}
        <title>PSC Social</title>
        {% endblock %}

        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.validate.css' %}">
            <style>
                .card {
                    border-radius: 25px;
                    box-shadow: 0 0 20px 5px #8080808f;
                }
            </style>
        {% endblock %}

        {% block body %}
        <main>
            <!-- Hero -->
            <div class="" id="hero-section">
                <div class="d-flex justify-content-center align-items-center text-white text-center px-3 hero-text">
                    <h1 class="fw-bold">Welcome to PSC Social</h1>
                </div>
            </div>
            <!-- Hero -->
        </main>

        <!-- Contact -->
        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Contact Us</h2>
                        <h3 class="section-subheading text-muted">We would love to hear from you</h3>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-8"></div>
                        <div class="col-sm-4 col-md-4">
                            <div class="card">
                                <div class="content">
                                    <div class="header bg-primary text-white py-3">
                                        <h2 class="text-center fw-bold">Send Message</h2>
                                    </div>
                                    <div class="description p-3 py-4">
                                        <form action="" class="ui form" id="contact-form">
                                            <div class="field pb-3">
                                                <label for="name">Name</label>
                                                <div class="ui left icon fluid input">
                                                    <input type="text" id="name" name="name" placeholder="Name" />
                                                    <i class="user icon"></i>
                                                </div>
                                            </div>
                                            <div class="field pb-3">
                                                <label for="email">Email</label>
                                                <div class="ui left icon fluid input">
                                                    <input type="email" id="email" name="email" placeholder="Your Email" />
                                                    <i class="envelope icon"></i>
                                                </div>
                                            </div>
                                            <div class="field pb-3">
                                                <label for="phone">Phone</label>
                                                <div class="ui left icon fluid input">
                                                    <input type="tel" id="phone" name="phone" placeholder="Your Phone" />
                                                    <i class="phone icon"></i>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label for="message">Message</label>
                                                <textarea name="message" id="message" cols="30" rows="3" placeholder="Your Message"></textarea>
                                            </div>
                                            <div class="text-center">
                                                <button class="ui violet animated button">
                                                    <div class="visible content">Send Message</div>
                                                    <div class="hidden content">
                                                        <i class="paper plane icon"></i>
                                                    </div>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact -->
        {% endblock %}

        {% block js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script type="text/javascript" src="{% static 'assets/js/contact.js' %}"></script>
        {% endblock %}