{% extends "base.html" %}
{% load static %}
        {% block title %}
        <title>Login - PSC Social</title>
        {% endblock %}

        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.validate.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'assets/css/login-section.css' %}">
            <style>
                .card {
                    border-radius: 25px;
                    box-shadow: 0 0 20px 5px #8080808f;
                }
            </style>
        {% endblock %}

        {% block body %}
        <main>
            <div class="my-5"></div>

            <!-- Login -->
            <section id="login" class="bg-white">
                <div class="container">
                    <div class="wrapper bg-white">
                        <div class="h2 text-center">Login</div>
                        <div class="h4 text-muted text-center pt-2">Enter your login details</div>
                        <form class="pt-3" id="login-form" action="{% url 'do_login' %}">
                            <div id="form-messages"><div class="alert" style="display: none;"></div></div>
                            {% csrf_token %}
                            <div class="form-group py-2">
                                <div class="input-field"> <span class="far fa-user p-2"></span> <input type="text" name="username" id="username" placeholder="Username or Email Address" required class=""> </div>
                                <div class="input-error"></div>
                            </div>
                            <div class="form-group py-1 pb-2">
                                <div class="input-field"> <span class="fas fa-lock p-2"></span> <input type="password" name="password" id="password" placeholder="Enter your Password" required class=""> <button type="button" class="btn bg-white text-muted" id="show-pwd-btn"> <span class="far fa-eye-slash"></span> </button> </div>
                                <div class="input-error"></div>
                            </div>
                            <div class="d-flex align-items-start mt-3 mb-4">
                                <div class="remember"> <label class="option text-muted"> Remember me <input type="radio" name="radio"> <span class="checkmark"></span> </label> </div>
                                <div class="ms-auto"> <a href="#" id="forgot">Forgot Password?</a> </div>
                            </div>
                            <button class="btn btn-block btn-lg w-100 text-center my-3 fw-bold" type="submit">Log in</button>
                            <div class="text-center pt-3 text-muted">Not a member? <a href="/signup">Sign up</a></div>
                        </form>
                    </div>
                </div>
            </section>
            <!-- Login -->

        </main>
        {% endblock %}

        {% block js %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script type="text/javascript" src="{% static 'assets/js/login.js' %}"></script>
        {% endblock %}