{% extends "base.html" %}
{% load static %}
{% load custom_template_tags %}
        {% block title %}
        <title>Reset Password - PSC Social</title>
        {% endblock %}

        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.validate.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'assets/css/login-section.css' %}">
            <style>
                .card {
                    border-radius: 25px;
                    box-shadow: 0 0 20px 5px #8080808f;
                }
            </style>
        {% endblock %}

        {% block body %}
        <main>
            <div class="my-5"></div>

            {% if code != 200 %}
                {% setvar 'd-flex justify-content-center align-items-center h-100 mt-5' as errorClass %}
            {% else %}
                {% setvar '' as errorClass %}
            {% endif %}
            <!-- Login -->
            <section id="login" class="bg-white">
                <div class="container {{ errorClass }}">
                    {% if code == 200 %}
                    <div class="wrapper bg-white">
                        <div class="h2 text-center" style="font-size: 2.5rem;">Reset Password</div>
                        <form class="pt-3" id="reset-password-form" action="{% url 'reset_password' %}">
                            <div id="form-messages"><div class="alert" style="display: none;"></div></div>
                            {% csrf_token %}
                            <div class="form-group py-1 pb-2">
                                <div class="input-field"> <span class="fas fa-lock p-2"></span> <input type="password" name="password" id="password" placeholder="Password" required class="" aria-type="password"> <button type="button" class="btn bg-white text-muted show-pwd-btn"> <span class="far fa-eye-slash"></span> </button> </div>
                                <div class="input-error"></div>
                            </div>
                            <div class="form-group py-1 pb-2">
                                <div class="input-field"> <span class="fas fa-lock p-2"></span> <input type="password" name="cpassword" id="cpassword" placeholder="Confirm Password" required class="" aria-type="password"> <button type="button" class="btn bg-white text-muted show-pwd-btn"> <span class="far fa-eye-slash"></span> </button> </div>
                                <div class="input-error"></div>
                            </div>
                            <input type="hidden" name="email" value="{{ email }}" />
                            <button class="btn btn-block btn-lg w-100 text-center my-3 fw-bold" type="submit">Reset Password</button>
                        </form>
                    </div>
                    {% else %}
                        <div class="d-block text-center mt-4">
                            <img src="{% static 'assets/img/dinosaur.png' %}" class="img-fluid" style="width: 18rem;" />
                            <h1 class="">{{ message }}</h1>
                            <a class="btn btn-lg btn-outline-warning mt-3 fw-bold" href="/login">Login</a>
                        </div>
                    {% endif %}
                </div>
            </section>
            <!-- Login -->

        </main>
        {% endblock %}

        {% block js %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script type="text/javascript" src="{% static 'assets/js/reset-password.js' %}"></script>
        {% endblock %}